<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <h1>Pokedex</h1>

    <section>
        <% pokedex.forEach((pokemon) =>{ %> <!-- escrevdno javascript -->

        <div>
            <img src="<%= pokemon.imagem %>" alt=""><!--para apresentar algo usa-se <%= %> com "igual"> -->
            <h2><%= pokemon.nome %></h2> <!--nome do pokemon> -->
            <p><%= pokemon.descricao %></p>  <!--descricao do pokemon> -->
            <p>Type: <%= pokemon.tipo %></p>   <!--tipo do pokemon> --> 
        </div>
        <% })%> <!-- escrevdno javascript pt2-->
    </section>


</body>
</html>